:root{
	--accent: #796EC9;
	--accent2: #796ec999;
	--deftraback: var(--accent) !important;
}
.countIndicator, .fullSyncIndicator, .playedIndicator {
    background: var(--accent2);
}
.selectionCommandsPanel {
    background: var(--accent);
}
.itemSelectionPanel {
    border: 2px solid var(--accent);
}
