:root{--accent: #796EC9; --accent1: #151230cc; --accent2: #796ec999; --accent3: #796ec933; --accent4: #0d0b1ecc; --deftraback: var(--accent) !important;}
.backdropImage {filter: blur(12px) saturate(20%) contrast(70%) brightness(80%);}
.backgroundContainer.withBackdrop {background-color: var(--accent4);}

.countIndicator, .fullSyncIndicator, .playedIndicator {background: var(--accent2);}
.selectionCommandsPanel {background: var(--accent);}
.itemSelectionPanel {border: 2px solid var(--accent);}
.listItemIcon.material-icons.notifications {background-color: var(--accent)!important;}
.navMenuOption-selected {background: var(--accent3)!important; color:var(--accent)!important;}
.defaultCardBackground {background-color: var(--accent2)!important;}
.button-link {color: var(--accent);}
.emby-checkbox:checked + span + .checkboxOutline {
background-color: var(--accent2);
border-color: var(--accent);}
.emby-select-withcolor:focus {border-color: var(--accent)!important;}

.paper-icon-button-light:hover:not(:disabled) {color: var(--accent); background-color: var(--accent3);}
.button-submit {background: var(--accent);}
.button-submit:focus {background: var(--accent2);}
.emby-tab-button:hover {color: var(--accent);}
.emby-input:focus, .emby-textarea:focus {border-color: var(--accent2);}
.inputLabelFocused, .selectLabelFocused, .textareaLabelFocused {color: var(--accent);}
.listItemIcon:not(.listItemIcon-transparent) {background-color: var(--accent);}
.mdl-spinner__layer-1 {border-color: var(--accent2);}
.emby-checkbox:focus:not(:checked) + span + .checkboxOutline {border-color: var(--accent);}
.emby-checkbox:checked + span + .checkboxOutline, .itemProgressBarForeground {background-color: var(--accent);}

/* Simple with Logo fix */

.listItem:hover {background-color: #23232380;}


/* Metadata Admin fix */
.editPageSidebar {width: 22%!important;}
.editPageSidebar {left: 250px!important;}

/* Mobile */
.layout-mobile .itemBackdrop {margin-top: 0rem;}
.layout-mobile .sections.homeSectionsContainer {padding-left: 12px; padding-right: 12px;}
.layout-mobile #itemDetailPage .detailVerticalSection {padding-left: 12px; padding-right: 12px; width: auto;}
.layout-mobile div#favoritesTab {padding-left: 12px;}
.layout-mobile #itemDetailPage .sectionTabs {margin-left: 0em !important; margin-right: 0em !important;}
